<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->

  <!-- remote logging -->
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
    <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/reflectiontoolhtml/remote_logging</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>serverRequest</servlet-name>
    <servlet-class>de.kuei.metafora.reflectiontool.server.ServerRequestImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serverRequest</servlet-name>
    <url-pattern>/reflectiontoolhtml/serverRequest</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>startup_servlet</servlet-name>
	<servlet-class>de.kuei.metafora.reflectiontool.server.StartupServlet</servlet-class>
	<load-on-startup>3</load-on-startup>
  </servlet>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ReflectionToolHtml.html</welcome-file>
  </welcome-file-list>

</web-app>
